//-- QUESTION Import the button style --//
// @import "../../../../style/cl-base-button.min";
.sds-btn {
    line-height: var(--sds-line-height-14);
    position: relative;
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    font-size: var(--sds-font-size-14);
    border-radius: var(--sds-br-4);
    color: var(--sds-theme-button-primary-filled-fg);
    background: var(--sds-theme-button-primary-filled-bg);
}

//-- Override button style --//
.sds-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  white-space: normal;
  height: auto; // We need this for multi line buttons.

  //-- Default state --//
  &.sds-btn-text:not([disabled]) {
    padding: var(--spacer-4) var(--spacer-16);
    color: var(--button-default-fg);
    background: var(--button-default-bg);
    // border-color: var(--button-default-border-color);
    &:hover {
      color: var(--button-default-hover-fg);
      background: var(--button-default-hover-bg);
      // border-color: var(--button-default-hover-border-color);
    }
  }

  //-- Primary State --//
  &.sds-btn-primary:not([disabled]) {
    padding: var(--spacer-8) var(--spacer-24);
    color: var(--button-primary-fg);
    background: var(--button-primary-bg);
    border-color: var(--button-primary-border-color);
    &:hover {
      color: var(--button-primary-hover-fg);
      background: var(--button-primary-hover-bg);
      border-color: var(--button-primary-hover-border-color);
    }
  }

  //-- Black state --//
  // &.sds-btn-black:not([disabled]) {
  //   color: var(--button-black-state-color);
  //   background: var(--button-black-state-bg);
  //   border-color:var(--button-black-state-border-color);
  //   &:hover {
  //     color: var(--button-black-state-hover-color);
  //     background: var(--button-black-state-hover-bg);
  //     border-color: var(--button-black-state-hover-border-color);
  //   }
  // }

  //-- Success state --//
  &.sds-btn-success:not([disabled]) {
    color: var(--button-success-fg);
    background: var(--button-success-bg);
    border-color: var(--button-success-border-color);
    &:hover {
      color: var(--button-success-hover-fg);
      background: var(--button-success-hover-bg);
      border-color: var(--button-success-hover-border-color);
    }
  }

  //-- Dangerous state --//
  &.sds-btn-danger:not([disabled]) {
    color: var(--button-danger-fg);
    background: var(--button-danger-bg);
    border-color: var(--button-danger-border-color);
    &:hover {
      color: var(--button-danger-hover-fg);
      background: var(--button-danger-hover-bg);
      border-color: var(--button-danger-hover-border-color);
    }
  }

  //-- Dashed state --//
  // &.sds-btn-dashed:not([disabled]) {
  //   color: var(--button-dashed-state-color);
  //   background: var(--button-dashed-state-bg);
  //   border-color: var(--button-dashed-state-border-color);
  //   &:hover {
  //     color: var(--button-dashed-state-hover-color);
  //     background: var(--button-dashed-state-hover-bg);
  //     border-color: var(--button-dashed-state-hover-border-color);
  //   }
  // }

  //-- Text state --//
  // &.sds-btn-text:not([disabled]) {
  //   color: var(--button-text-state-color);
  //   background: var(--button-text-state-bg);
  //   border-color: var(--button-text-state-border-color);
  //   &:hover {
  //       background: var(--button-text-state-hover-bg);
  //   }
  // }

  //-- Link state --//
  // &.sds-btn-link:not([disabled]) {
  //   color: var(--button-link-state-color);
  //   background: var(--button-link-state-bg);
  //   border-color: var(--button-link-state-border-color);
  //   &:hover {
  //       color: var(--button-link-state-hover-color);
  //   }
  // }

  // &[disabled] {
  //   color: rgba(0, 0, 0, 0.25) !importsds; // This needs to be importsds as we manipulate the color with javascript.
  // }

  //-- Block state --//
  &.sds-btn-block {
    width: 100%;
  }

  &.sds-btn-circle {
    width: 32px;
    height: 31px;
    &.sds-btn-sm {
      width: 24px;
      height: 23px;
    }
    &.sds-btn-lg {
      width: 40px;
      height: 39px;
    }
  }

  &:not(.sds-btn-circle):not(.sds-btn-round) {
    border-radius: 4px;
  }

  &.sds-btn-loading {
      i.schoox:not(.suffix-icon) {
          display: none;
      }
  }

  > .sdsicon + span {
    margin-left: 0;
  }

  i {
    height: 1em;
    width: 1em;

    //   &.suffix-icon {
    //     margin-right: 8px;
    // }
  }
  
  svg {
    margin-right: 8px;
  }

  span {
    align-items: center;
    //line-height: 21px; // Setting a line height for all three states(normal|small|large) is experimental at the moment. This is done by the multi line fix.
    &:blank {
      display: none;
    }
    display: inline-flex;
  }

  &.sds-btn-sm {
    font-size: 13px;
    i {
      width: 16px;
      height: 16px;
    }
  }

  &.sds-btn-lg {
    i {
        width: 32px;
        height: 32px;
    }
  }
}

a.sds-btn {
  span {
    line-height: 23px; // Setting a line height for all three states(normal|small|large) is experimental at the moment. This is done by the multi line fix.
  }
}

// .sds-btn-group {
//   > .sds-btn:not(.sds-btn-circle):not(.sds-btn-round):not(:first-child):not(:last-child) {
//     border-radius: 0;
//   }
//   > .sds-btn:first-child:not(:last-child),
//   > span:first-child:not(:last-child) > .sds-btn {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//   }
//   > .sds-btn:last-child:not(:first-child),
//   > span:last-child:not(:first-child) > .sds-btn {
//     border-top-left-radius: 2px;
//     border-bottom-left-radius: 2px;
//   }
// }

// :host {
//   display: block;
// }

// .btn {
//   display: inline-block;
//   margin: 8px;
//   font-size: 1.6rem;
//   text-transform: uppercase;
//   text-decoration: none;
//   font-weight: bold;
//   cursor: pointer;
//   border: none;
//   outline: none;
//   letter-spacing: 0.15rem;
//   transition: 0.3s;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;

//   /** Colors **/
//   &.btn-primary {
//     background-color: var(--primary-dark);
//     color:  var(--white);
//     &:hover,
//     &:focus {
//       background-color: var(--primary-light);
//       color: var(--primary-dark);
//       //darken on hover
//     }
//     &:active {
//       background-color: #0b7de0;
//     }
//     &:disabled {
//       background-color: var(--neutral-light);
//       color: var(--neutral-base);
//       cursor: not-allowed;
//       box-shadow: none;
//     }
//   }
//   &.btn-secondary {
//     background-color: var(--secondary-dark);
//     // border: none;
//     color:  var(--secondary-light);
//     // border: 1px solid #1b8df2;
//     &:hover,
//     &:focus {
//       background-color: var(--secondary-light);
//       color: var(--secondary-dark);
//     }

//     &:active {
//       background-color: #45a3f5;
//       color: #45a3f5;
//     }
//     &:disabled {
//       border-color: #d6d6d6;
//       color: #a3a3a3;
//       background-color: #f7f7f7;
//       cursor: not-allowed;
//     }
//   }
//   &.warning {
//     background-color: var(--warning-dark);
//     color:  var(--warning-light);
//     &:hover,
//     &:focus {
//       background-color: var(--warning-light);
//       color: var(--warning-dark);
//       //darken on hover
//     }
//     &:active {
//       background-color: #0b7de0;
//     }
//     &:disabled {
//       background-color: var(--neutral-light);
//       color: var(--neutral-base);
//       cursor: not-allowed;
//       box-shadow: none;
//     }
//   }
//   /** Shape **/
//   &.rounded-lg {
//     border-radius: var(--br-16);
//   }
//   &.rounded-md {
//     border-radius: var(--br-8);
//   }
//   &.rounded-sm {
//     border-radius: var(--br-4);
//   }

//   /** Size **/
//   &.size-lg {
//     padding: var(--spacer-16) var(--spacer-40);
//     font-size: 1.8rem;
//   }
//   &.size-md {
//     padding: var(--spacer-8) var(--spacer-24);
//     font-size: 1.6rem;
//   }
//   &.size-sm {
//     padding: var(--spacer-8) var(--spacer-16);
//     font-size: 1.2rem;
//   }

//   /** Elevation **/
//   &.elevation {
//     box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
//   }
// }