// Design Tokens
:root, [data-theme="default"] {
    // NEUTRALS
    --black: rgb(21, 21, 55);
    --neutral-darkest: rgb(31, 31, 71);
    --neutral-darker: rgb(41, 41, 86);
    --neutral-dark: rgb(102, 102, 153);
    --neutral-base: rgb(133, 133, 173);
    --neutral-light: rgb(209, 209, 224);
    --neutral-lighter: rgb(240, 240, 244);
    --neutral-lightest: rgb(246, 246, 249);
    --white: rgb(255, 255, 255);
    // RED
    --red-darker: rgb(102, 26, 58);
    --red-dark: rgb(142, 36, 81);
    --red-base: rgb(209, 72, 130);
    --red-light: rgb(229, 153, 186);
    --red-lighter: rgb(242, 202, 219);
    // ORANGE
    --orange-darker: rgb(143, 80, 36);
    --orange-dark: rgb(184, 103, 46);
    --orange-base: rgb(219, 157, 112);
    --orange-light: rgb(235, 199, 173);
    --orange-lighter: rgb(245, 227, 214);
    // YELLOW
    --yellow-darker: rgb(122, 122, 31);
    --yellow-dark: rgb(183, 183, 46);
    --yellow-base: rgb(219, 219, 112);
    --yellow-light: rgb(229, 229, 179);
    --yellow-lighter: rgb(238, 238, 206);
    // GREEN
    --green-darker: rgb(31, 122, 77);
    --green-dark: rgb(41, 163, 102);
    --green-base: rgb(92, 214, 153);
    --green-light: rgb(179, 229, 204);
    --green-lighter: rgb(209, 239, 224);
    // BLUE
    --blue-darker: rgb(5, 82, 97);
    --blue-dark: rgb(31, 150, 173);
    --blue-base: rgb(72, 186, 209);
    --blue-light: rgb(153, 217, 229);
    --blue-lighter: rgb(202, 235, 242);
    // INDIGO
    --indigo-darker: rgb(32, 31, 122);
    --indigo-dark: rgb(70, 70, 185);
    --indigo-base: rgb(113, 113, 219);
    --indigo-light: rgb(194, 194, 240);
    --indigo-lighter: rgb(222, 222, 247);
    // PURPLE
    --purple-darker: rgb(64, 19, 108);
    --purple-dark: rgb(115, 52, 177);
    --purple-base: rgb(166, 112, 219);
    --purple-light: rgb(217, 194, 240);
    --purple-lighter: rgb(235, 222, 247);
    // PINK
    --pink-darker: rgb(147, 31, 128);
    --pink-dark: rgb(189, 40, 164);
    --pink-base: rgb(219, 112, 201);
    --pink-light: rgb(240, 194, 232);
    --pink-lighter: rgb(247, 222, 243);
    //COLOR CONTEXT 
    --primary-dark: var(--purple-dark);
    --primary-light: var(--purple-lighter);
    --secondary-dark: var(--green-dark);
    --secondary-light: var(--green-lighter);

    // BUTTONS
    --button-default-state-fg: var(--black);
    --button-default-state-bg: var(--white);
    --button-default-state-border-color: var(--neutral-base);
    --button-default-state-hover-fg: var(--purple-base);
    --button-default-state-hover-bg: var(--white);
    --button-default-state-hover-border-color: var(--purple-base);
    //Primary
    --button-primary-state-fg: var(--purple-lighter);
    --button-primary-state-bg: var(--purple-darker);
    --button-primary-state-border-color: var(--purple-darker);
    --button-primary-state-hover-fg: var(--purple-base);
    --button-primary-state-hover-bg: var(--white);
    --button-primary-state-hover-border-color: var(--purple-base);
    //Success
    --button-success-state-fg: var(--white);
    --button-success-state-bg: var(--green-darker);
    --button-success-state-border-color: var(--green-darker);
    --button-success-state-hover-fg: var(--green-base);
    --button-success-state-hover-bg: var(--white);
    --button-success-state-hover-border-color: var(--green-base);
    //Danger
    --button-danger-state-fg: var(--red-lighter);
    --button-danger-state-bg: var(--red-darker);
    --button-danger-state-border-color: var(--red-darker);
    --button-danger-state-hover-fg: var(--red-base);
    --button-danger-state-hover-bg: var(--white);
    --button-danger-state-hover-border-color: var(--red-base);


    //SPACING
    --spacer-2: 0.2rem;
    --spacer-4: 0.4rem;
    --spacer-8: 0.8rem;
    --spacer-14: 1.4rem;
    --spacer-16: 1.6rem;
    --spacer-24: 2.4rem;
    --spacer-32: 3.2rem;
    --spacer-40: 4.0rem;
    --spacer-48: 4.8rem;

    //BORDER RADIUS
    --border-radius-sm: 0.4rem;
    --border-radius-md: 0.8rem;
    --border-radius-lg: 1.6rem;
    --border-radius-xl: 2.4rem;

    //ELEVATION
    --shadow-sm: 0 1px 2px 0 rgba(0,0,0,0.05);
    --shadow-base: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -2px rgba(0,0,0,0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -4px rgba(0,0,0,0.1);
    --shadow-xl: 0 20px 25px -5px rgba(0,0,0,0.1),0 8px 10px -6px rgba(0,0,0,0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0,0,0,0.25);
}


// Demo Tokens

// $spacer-1:    8px;
// $spacer-2:    16px;
// $spacer-3:    24px;
// $spacer-4:    32px;
// $spacer-5:    40px;
// $radius-sm:   8px;
// $radius-lg:   100px;
$border-sm:   2px solid;
$border-lg:   4px solid;
$button-font: 600 16px sans-serif;
$transition:  0.5s ease-in-out;


