// Import Global Styles
@import "design-tokens";
@import "reset";
@import "components/button";

.sds-btn:focus {
    outline: 2px solid pink;
}

body {
    padding: 1rem;
}

.feather-16 {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.feather-24 {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

.feather-32 {
    height: 32px;
    width: 32px;
    margin-right: 16px;
}
